services:
  app-server:
    build:
      context: .
      dockerfile: Dockerfile
    image: app-server:latest
    container_name: app-server
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./Wallet:/app/Wallet
      - ~/.oci:/root/.oci:ro # ~/.oci 폴더를 컨테이너 내부의 /root/.oci 폴더로 연결 (:ro 는 읽기 전용)
    environment:
      - TNS_ADMIN=/app/Wallet
    env_file:
      - .env # .env 파일의 모든 환경변수를 컨테이너에 주입