services:
  app-server:
    build:
      context: . # 현재 디렉토리를 빌드 컨텍스트로 사용
      dockerfile: Dockerfile # 사용할 Dockerfile 경로 지정(기본값은 "Dockerfile"이지만 명시적으로 선언)
    image: app-server:latest # 빌드된 이미지에 부여할 태그명
    container_name: app-server # 실행될 컨테이너의 고유 이름 지정
    restart: always # 컨테이너 종료 시 자동 재시작 정책
    ports:
      - "8080:8080" # 호스트의 8080포트로 들어오는 요청을 컨테이너의 8080포트로 전달
    env_file:
      - aws-prod.env # aws-prod.env 파일의 모든 환경변수를 컨테이너에 주입